* {
    font-weight: 240;
}
aside {
    height: 100vh;
    /* position: fixed; */
    border-right: 1px rgb(218, 227, 228) solid;
    padding: 370px 0 0 0;
    text-align: right;
    position: fixed;
    left:0px
}

.cover {
position: fixed;
width: 100%;
height: 100%;
background-color: black;
opacity: .37;
z-index: -1;

}

.uk-first-column {
padding: 0px !important;
}
li {
    text-shadow: 10 1px 5px rgba(0,0,0,.6);
}
.list {
    color: #fff !important;
    /* margin: 25px 0 10px 200px ; */
    margin-bottom: 35px;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    letter-spacing: 12px;
}
.list:hover::after {
    content: "";
    /* background-color: #1a1e21; */
    background-color: rgba(0,0,0,.6);
    opacity: .38;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.list:hover::before {
    content: "◆";
    position: relative;
    /* text-align: right; */
    left: 0;
}
section {
    /* margin: 100px 0px; */
    
}
.meta-header {
    text-align: center;
    position: relative;
    /* height: 300px; */
    border-bottom: 1px white solid;

}
.meta-header::after {
    content: "◉";
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: -11px;
    z-index: 100;
    text-align: right;
    /* left: 0px; */
    bottom: -4px;
    /* display: block; */
    /* transform: translateY(-50%); */
}
.bookList {
    position: relative;
    border-radius: 5px;
    background-color: #fffdf9;
    /* z-index: 3; */
}
.bookList::before {
    /* content: "";
    /* display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: inherit; 
    color: #fffdf9;
    filter: blur(1px);
    z-index: -1;
    top: 0;
    border-radius: 5px; */
}

.bookImage {
    height: 160px;
    display: inline-block;
    background-image: url(./3.png);
    border-radius: 5px;
}
.bookText{
    display: inline-block;
    margin: 2px 0 0 5px;
    color: rgb(30,178,166);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
#sectionBtm > div{
    margin-bottom: 20px;
    overflow: hidden;
}
/* h1 {
    /* position: absolute; */
    /* margin: 200px 0  0 0; 
    padding-right: 400px;
    /* left: 10%; 
} */

/* .meta-header {
    height: 300px;
    border-bottom: 0.8px #fff solid;
    padding: 0px 0px 10px 0px;
}
.meta-header::after {
    content: "◉";
    position: absolute;
    color: #fff;
    bottom: 0px;
    /* text-align: right; 
} */
/* body {
    background:url("Pine-Watt.mp4");
} */
/* .left_colum {
    height: 100vh;
    width: 300px;
    /* background: black; 
    float: left;
    display: flex;
    /* justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    flex-direction: column;
    text-align: center;
} */


/* .atar {
    height: 100px;
    

} */
